<section
  class="flex flex-row justify-center gap-4 p-4 mb-2 md:mb-4"
>
  <img
    src="/assets/portrait.png"
    alt="portrait-image"
    class="max-h-[5rem] max-w-[5rem]shadow-xl rounded-full shadow-md"
    loading="lazy"
  />
  <div class="ze:basis-1/2 md:basis-0 flex flex-col justify-around">
    <div class="text-xl">
        <span class="mr-1">by</span><span class="font-bold">
            <a href="/about" class="hover:underline">Stefan Haas</a>
        </span> 
    </div>
    <div>{% include 'contacts.njk' %}</div>
  </div>
</section>
