<div class="mt-4 mb-4">
  <div class="rounded-lg bg-atom-dark shadow-xl">
    <div class="text-white rounded-lg text-base">
      <pre><code class="language-{{language}} code-overflow rounded-lg" id="code-content">{{code}}</code></pre>
    </div>
  </div>

  {% if caption %}
    <div class="text-center font-medium text-neutral-500">
      {{ caption }}
    </div>
  {% endif %}
</div>

<script>
  hljs.highlightAll();
</script>
