{% if maxHeight == undefined %} {% set maxHeight = "max-h-96" %} {% endif %}
<div class="flex justify-center mb-4 mt-4">
  <div>
    <img
      src="{{ image }}"
      class="shadow-xl rounded-lg {{ maxHeight }}"
      alt="{{ imageAlt }}"
    />
    {% if imageCaption %}
    <div class="text-center font-medium text-neutral-500">
      {{ imageCaption }}
    </div>
    {% endif %}
  </div>
</div>
