{% set subHeading = 'GitHub Repository' %}
{% include 'post-elements/sub-heading.njk' %}

<div class="flex mt-2">
    <div class="hidden md:block basis-1/4"></div>
    <div class="repo-card basis-full md:basis-2/4 shadow-xl rounded-lg" data-repo="{{repo}}"></div>
    <div class="hidden md:block basis-1/4"></div>
</div>
