<div class="flex flex-grow flex-wrap">
  <section
    class="basis-full md:flex-1 md:min-h-full md:bg-gray-700 flex mt-6 md:mt-0 xl:p-16"
  >
    <div class="md:hidden basis-1/4"></div>
    <div class="md:basis-full lg-basis-1/2 basis-2/4 xl:flex xl:justify-center">
      <img
        src="/assets/portrait.png"
        alt="portrait-image"
        class="xl:object-contain xl:max-h-[50rem] xl:max-w-[50rem] md:w-full shadow-xl rounded-full md:rounded-none xl:rounded-lg"
        loading="lazy"
      />
    </div>
    <div class="md:hidden basis-1/4"></div>
  </section>
  <section class="basis-full md:flex-1 md:p-6 lg:p-8 xl:p-16">
    <h1 class="text-4xl font-bold text-center mt-2 md:mt-8">
      Hi <span>👋</span>, I am Stefan.
    </h1>
    <div class="flex justify-center text-2xl mt-2 mb-4">
      <div class="typing"></div>
    </div>

    <div class="w-full flex justify-center">
      <div>{% include 'contacts.njk' %}</div>
    </div>

    <div class="px-4 lg:px-8">
      <p class="py-2 text-lg">
        I am fascinated with web technologies and enjoy creating
        <b>sustainable frontends</b> with <b>Angular</b>. I get my hands dirty
        doing <b>freelancing</b> and I share my knowledge as an Angular trainer
        powered by
        <a
          href="https://www.angulararchitects.io/en"
          class="font-bold hover:underline"
          >Angulararchitects</a
        >.
      </p>
      <div class="text-blue-500 font-semibold">
        #angular #typescript #javascript #ngrx #rxjs #nx #11ty #tailwind #csharp
        #dotnet #ddd #micro-frontends #web-components #azure
      </div>
      <div class="flex justify-center items-center lg:mt-8 md:mt-6 mt-6 mb-8">
        <div class="basis-1/4"></div>
        <div class="basis-2/4 flex">
          <a
            href="/contact"
            class="w-full text-white bg-gradient-to-br shadow-xl hover:shadow-2xl from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 font-medium rounded-lg text-xl px-5 py-2.5 text-center mr-2 mb-2"
          >
            Hire me
          </a>
        </div>
        <div class="basis-1/4"></div>
      </div>
    </div>
  </section>
</div>

<script src="/js/typing.js" type="module"></script>
