<!DOCTYPE html>
<html lang="en" class="min-h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="{{ keywords }}" />
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link rel="stylesheet" href="{{
      "src/styles.scss" | inputToRevvedOutput
    }}" />
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://kit.fontawesome.com/d760aeaac6.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/index.js"></script>

    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/atom-one-dark.min.css"
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>

    <script src="https://tarptaeya.github.io/repo-card/repo-card.js"></script>
  </head>
  <body class="bg-stone-100">
    <div class="min-h-screen">
      {% include 'header.njk' %}

      <main>
        {{ content | safe }}
      </main>

      {% include 'footer.njk' %}
    </div>
  </body>
</html>
