<a href="{{link | url }}">
  <article class="rounded-xl shadow-xl group  bg-atom-dark hover:shadow-2xl  text-white transition ease-in-out hover:-translate-y-3">
    <img src="{{ image }}" alt="{{ imageAlt }}"  class="rounded-t-lg" />
    <div class="p-4 w-full">
        <h2 class="font-semibold text-xl mb-2 text-red-500">{{ title }}</h2>
        <summary class="min-h-24 text-neutral-300 group-hover:text-white">{{ description  | truncate }}</summary>
       
        <div class=" w-full text-center mt-4 font-medium text-sm">Published on {{ date | postDate }}</div>
    </div>
  </article>
</a>
