<div class="rounded-lg bg-zinc-800 shadow-xl">
  <div class="flex flew-row justify-between bg-zinc-700 p-2 rounded-t-lg">
    <div class="flex flex-row gap-1 mt-1">
      <div class="rounded-full bg-red-400 w-3 h-3"></div>
      <div class="rounded-full bg-yellow-400 w-3 h-3"></div>
      <div class="rounded-full bg-green-400 w-3 h-3"></div>
    </div>

    <button
      type="button"
      class="bg-stone-600 hover:bg-stone-700 text-stone-300 rounded-md p-1 font-semibold flex flex-row items-center gap-1 shadow-md hover:shadow-2xl hover:border-stone-200 border border-stone-600"
      id="copy-clipboard"
      >
      <i class="fa-regular fa-copy text-lg"></i>
      <span class="align-center"> Copy </span>
    </button>
  </div>

  <div class="text-white p-3">
    <pre><code class="language-typescript code-overflow" id="code-content">
/** @type {import('tailwindcss').Config} */
module.exports = {
  content: [
    "./src/**/*.{njk,html,js}"
  ],
  theme: {
    extend: {},
  },
  plugins: [],
}</code></pre>
  </div>
</div>

<div class="mt-1 text-center font-medium text-neutral-500">
    tailwind.config.js
</div>

<script src="js/copy.js"></script>
