<ul class="w-full flex flex-row gap-6 text-2xl">
  <li>
    <a href="https://github.com/HaasStefan/">
      <i class="fa-brands fa-github"></i>
    </a>
  </li>
  <li>
    <a href="https://medium.com/@stefan.haas.privat">
        <i class="fa-brands fa-medium"></i>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/stefan-haas-686a921b4/">
      <i class="fa-brands fa-linkedin"></i>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/StefanvHaas">
      <i class="fa-brands fa-twitter"></i>
    </a>
  </li>
  <li>
    <a href="https://www.youtube.com/@stefan-haas">
      <i class="fa-brands fa-youtube"></i>
    </a>
  </li>
</ul>
