<header>
    <nav class="border-gray-200 px-4 lg:px-6 py-2.5 bg-atom-dark shadow-md">
        <div class="flex justify-between items-center mx-auto max-w-screen-xl">
            <a href="/" class="flex items-center">
                <span class="self-center text-xl font-semibold whitespace-nowrap text-white">Stefan Haas</span>
            </a>
            <div class="flex items-center lg:order-2">
                <a href="/about" class="text-white focus:ring-4 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 hover:bg-gray-700 focus:outline-none focus:ring-gray-800">About me</a>
                <a href="/blog" class="text-white focus:ring-4 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 hover:bg-gray-700 focus:outline-none focus:ring-gray-800">Blog</a>
                <a href="/contact" class="hidden sm:block  text-white hover:bg-gray-700  focus:ring-4  font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 focus:outline-none focus:ring-gray-800">Contact</a>
            </div>
        </div>
    </nav>
</header>