<header>
  <nav class="border-gray-200 px-4 lg:px-6 py-3.5 bg-atom-dark shadow-md">
      <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto"
  >
      <a href="/" class="flex items-center">
        <img src="/assets/ng-journal.png" height="45" width="45" />
        <span
          class="self-center text-xl font-semibold whitespace-nowrap text-white ml-2"
          >NG Journal</span
        >
      </a>

      <button
      data-collapse-toggle="navbar-dropdown"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center md:text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-dropdown"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto " id="navbar-dropdown">
      <ul
        class="flex flex-col ze:gap-3 md:gap-0 md:flex-row font-medium px-4 pb-2 md:p-0 mt-4 borderrounded-lg md:space-x-8 md:mt-0 md:border-0"
      >

        <li>
          <a
            href="/blog"
            class="block text-center ze:bg-gray-700 md:bg-inherit text-white md:hover:text-red-500 md:hover:bg-red-500 md:hover:bg-opacity-10 focus:ring-4 font-medium rounded-lg md:text-sm px-4 lg:px-5 py-3 lg:py-3.5  focus:outline-none focus:ring-gray-800"
            >Blog</a
          >
        </li>
        <li>
          <a
            href="/workshop"
            class="block text-center ze:bg-gray-700 md:bg-inherit text-white md:hover:text-red-500 md:hover:bg-red-500 md:hover:bg-opacity-10 focus:ring-4 font-medium rounded-lg md:text-sm px-4 lg:px-5 py-3 lg:py-3.5 focus:outline-none focus:ring-gray-800"
            >Nx Workshop</a
          >
        </li>
        <li>
          <a
            href="/about"
            class="block text-center ze:bg-gray-700 md:bg-inherit text-white md:hover:text-red-500 md:hover:bg-red-500 md:hover:bg-opacity-10 focus:ring-4 font-medium rounded-lg md:text-sm px-4 lg:px-5 py-3 lg:py-3.5 focus:outline-none focus:ring-gray-800"
            >About</a
          >
        </li>
        <li>
          <a
            href="/contact"
            class="block text-center ze:bg-gray-700 md:bg-inherit text-white md:hover:text-red-500 md:hover:bg-red-500 md:hover:bg-opacity-10 focus:ring-4 font-medium rounded-lg md:text-sm px-4 lg:px-5 py-3 lg:py-3.5 focus:outline-none focus:ring-gray-800"
            >Contact</a
          >
        </li>
      </ul>
    </div>
    </div>
  </nav>
</header>
