---
layout: "base.njk"
---

<div class="flex w-full justify-center">
  <article
    class="max-w-screen-lg w-full flex-auto p-4 text-lg leading-relaxed md:leading-loose"
  >
    <div class="links w-full">
      <ul class="text-3xl w-full flex justify-end gap-3">
        <li class="social-share facebook text-blue-700" id="share-fb">
          <i class="fa-brands fa-facebook"></i>
        </li>
        <li class="social-share twitter text-blue-400" id="share-tw">
          <i class="fa-brands fa-twitter"></i>
        </li>
        <li class="social-share linkedin text-blue-800" id="share-in">
          <i class="fa-brands fa-linkedin"></i>
        </li>
      </ul>
    </div>

    <h1 class="text-4xl font-bold mt-3 mb-3" id="post-title">{{ title }}</h1>
    <h2 class="text-xl text-neutral-600 font-bold mb-6">{{ subtitle }}</h2>

    {% set image = image %} {% set imageAlt = imageAlt %} {% include
    'post-elements/image.njk' %} {% include 'post-elements/author-card.njk' %}

    {{ content | safe }}

    {% set subHeading = '🔔 Angular Code Reviews 🔔' %} {% include
    'post-elements/sub-heading.njk' %}

    <p>
      Do you want me to check your code and see if there are any security
      vulnerabilities, architectural flaws, or bad practices? Then let's work
      together and let me do a {% set link =
      'https://ng-journal.com/code-review/' %} {% set linkText = 'Code Review'
      %} {% include 'post-elements/hyper-link.njk' %} and get things checked.
    </p>

    {% set subHeading = 'Thank you 🤗' %} {% include
    'post-elements/sub-heading.njk' %}
    <p>
      Thank you for reading this article! I hope that you enjoyed it and could
      learn something new and interesting. <br />
      If you have any questions left, don't hessitate to contact me on {% set
      link = 'https://twitter.com/StefanvHaas' %} {% set linkText = 'Twitter' %}
      {% include 'post-elements/hyper-link.njk' %} or {% set link =
      'https://www.linkedin.com/in/stefan-haas-686a921b4/' %} {% set linkText =
      'LinkedIn' %} {% include 'post-elements/hyper-link.njk' %} to have a
      discussion. <br />

      <b>Haven't subscribed yet? </b>
      Scroll down and don't miss any new articles anymore.
    </p>
  </article>
</div>
<div class="flex w-full justify-center">
  <section class="max-w-screen-lg p-4 ">{% include 'recommendations.njk' %}</section>
</div>

<script src="/js/share.js"></script>
