---
layout: "base.njk"
---

<div class="flex w-full justify-center">
  <article
    class="max-w-screen-lg w-full flex-auto p-4 text-lg leading-relaxed md:leading-loose"
  >
    <div class="links w-full">
      <ul class="text-3xl w-full flex justify-end gap-3">
        <li class="social-share facebook text-blue-700" id="share-fb">
          <i class="fa-brands fa-facebook"></i>
        </li>
        <li class="social-share twitter text-blue-400" id="share-tw">
          <i class="fa-brands fa-twitter"></i>
        </li>
        <li class="social-share linkedin text-blue-800" id="share-in">
          <i class="fa-brands fa-linkedin"></i>
        </li>
      </ul>
    </div>

    <h1 class="text-4xl font-bold mt-3 mb-3" id="post-title">{{ title }}</h1>
    <h2 class="text-xl text-neutral-600 font-bold mb-6">{{ subtitle }}</h2>

    {% set image = image %} {% set imageAlt = imageAlt %} {% include
    'post-elements/image.njk' %} {% include 'post-elements/author-card.njk' %}

    {{ content | safe }}

    {% set subHeading = 'Comments' %} {% include 'post-elements/sub-heading.njk'
    %}

    <script
      src="https://utteranc.es/client.js"
      repo="HaasStefan/ng-journal-comments"
      issue-term="url"
      theme="github-light"
      crossorigin="anonymous"
      async
    ></script>
  </article>
</div>

<script src="/js/share.js"></script>
