
<h2 class="font-bold text-3xl mb-4">Recommended Articles</h2>
<div class="flex flex-col md:flex-row gap-4 w-full">
  {%- for post in collections.posts | shuffle(3, title) -%} 
    {% set title = post.data.title %}
    {% set description = post.data.description %}
    {% set keywords = post.data.keywords %}
    {% set date = post.data.date %} 
    {% set image = post.data.image %} 
    {% set imageAlt = post.data.imageAlt %} 
    {% set link = post.url %} 
    {% include 'small-blog-card.njk' %} 
  {% endfor %}
</div>

