<div class="flex gap-12 flex-wrap justify-evenly mb-10">
  <div
    class="md:flex-1 max-w-full md:max-w-[18rem] flex flex-col items-center gap-1"
  >
    <img
      src="/assets/hai.jpeg"
      alt="portrait-image"
      class="xl:object-contain max-w-[8rem] md:max-w-[10rem] max-h-[8rem] md:max-h-[10rem] md:w-full shadow-xl rounded-full"
      loading="lazy"
    />

    <h3 class="text-xl font-semibold text-center mt-2">Hai Tran Nguyen</h3>
    <div class="flex justify-center gap-1 items-center">
      <i class="fa-solid fa-star text-{{color}}"></i>
      <i class="fa-solid fa-star text-{{color}}"></i>
      <i class="fa-solid fa-star text-{{color}}"></i>
      <i class="fa-solid fa-star text-{{color}}"></i>
      <i class="fa-solid fa-star text-{{color}}"></i>
    </div>
    <p class="text-center px-8 pt-2 md:px-0">
      "Stefan is a very good trainer. He has a lot of knowledge and experience
      in the field of Angular. He is also very enthusiastic and can explain
      things very well. I would definitely recommend him as a trainer."
    </p>
  </div>

  <div
    class="md:flex-1 max-w-full md:max-w-[18rem] flex flex-col items-center gap-1"
  >
    <img
      src="/assets/juri.jpeg"
      alt="portrait-image"
      class="xl:object-contain max-w-[8rem] md:max-w-[10rem] max-h-[8rem] md:max-h-[10rem] md:w-full shadow-xl rounded-full"
      loading="lazy"
    />

    <h3 class="text-xl font-semibold text-center mt-2">
      Juri Strumpflohner
      <span class="text-sm text-center text-neutral-600">(Nx Team)</span>
    </h3>

    <div class="flex justify-center gap-1 items-center">
      <i class="fa-solid fa-star text-{{color}}"></i>
      <i class="fa-solid fa-star text-{{color}}"></i>
      <i class="fa-solid fa-star text-{{color}}"></i>
      <i class="fa-solid fa-star text-{{color}}"></i>
      <i class="fa-solid fa-star text-{{color}}"></i>
    </div>
    <p class="text-center px-8 pt-2 md:px-0">
      "Stefan possesses an extensive understanding of the Angular ecosystem,
      particularly when it comes to its integration with Nx. He has a deep
      understanding when it comes to leveraging Nx’s capabilities and features
      to build modular and maintainable architectures. That’s among one of the
      reasons why he has been invited to join the Nx Champions program."
    </p>
  </div>

  <div
    class="md:flex-1 max-w-full md:max-w-[18rem] flex flex-col items-center gap-1"
  >
    <img
      src="/assets/daniel.jpeg"
      alt="portrait-image"
      class="xl:object-contain max-w-[8rem] md:max-w-[10rem] max-h-[8rem] md:max-h-[10rem] md:w-full shadow-xl rounded-full"
      loading="lazy"
    />

    <h3 class="text-xl font-semibold text-center mt-2">
      Daniel Glejzner
      <span class="text-sm text-center text-neutral-600">(Nx Champion)</span>
    </h3>

    <div class="flex justify-center gap-1 items-center">
      <i class="fa-solid fa-star text-{{color}}"></i>
      <i class="fa-solid fa-star text-{{color}}"></i>
      <i class="fa-solid fa-star text-{{color}}"></i>
      <i class="fa-solid fa-star text-{{color}}"></i>
      <i class="fa-solid fa-star text-{{color}}"></i>
    </div>
    <p class="text-center px-8 pt-2 md:px-0">
      "I met Stefan through the Nx champions program and was impressed right
      away. His skills are top-notch and he is a great person to work with. His
      workshop on Nx is a must-have for any team that wants to get the most out
      of Nx."
    </p>
  </div>
</div>

