<div class="flex ze:flex-col md:flex-row w-full justify-between items-center mb-8">
  <div>
    <h3 class="ze:text-5xl md:text-6xl mt-6 mb-2">Want to book a workshop?</h3>
    <h3 class="ze:text-3xl md:text-4xl text-neutral-700">Still have questions?</h3>
  </div>
  <div class="flex ze:w-full md:flex-grow justify-center items-center mt-8">
    <div class="ze:basis-1/6 md:basis-1/4"></div>
    <div class="ze:basis-1/2 md:basis-1/2 flex">
      <a
        href="/contact"
        class="w-full text-white bg-gradient-to-br shadow-xl hover:shadow-2xl bg-{{color}} focus:ring-4 focus:outline-none focus:ring-{{color}} font-medium rounded-lg text-xl ze:px-5 ze:py-2.5 md:px-12 md:py-8 text-center"
      >
        <span class="mr-1">Get in touch</span>
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </a>
    </div>
    <div class="ze:basis-1/6 md:basis-1/4"></div>
  </div>
</div>
</div>
