---
title: NgRx Component Store meets Facade Pattern
subtitle: Abstracting State Management with the Facade Pattern
date: 2022-12-04
tags: featured
description: blablabla
keywords: [angular, ngrx, ngrx-component-store, facade, rxjs]
image: https://i.imgur.com/IkzVhVS.png
imageAlt: ngrx-component-store-meets-facade-pattern-cover
layout: post
---

<p>
    {{description}}
</p>

{% set subHeading = 'Facade Pattern' %}
{% include 'post-elements/sub-heading.njk' %}

{% set subHeading = 'State Model vs View Model' %}
{% include 'post-elements/sub-heading.njk' %}

{% set subHeading = 'Component Store' %}
{% include 'post-elements/sub-heading.njk' %}

{% set repo = 'HaasStefan/facade-pattern' %}
{% include 'post-elements/repo.njk' %}

