---
title: Signals and the RxJS Interop
subtitle: Signals and RxJS are not a contradiction but complementary
date: 2023-04-25
tags: featured
description: Coming up in version 16 of Angular there are a lot of revolutionary changes, such as Signals which will change the way we develop Angular applications from the ground up. Or won't they?
keywords: [angular, angular-v16, signals, rxjs, rxjs-interop, reactivity, observables, toObservable, toSignal]
image: https://i.imgur.com/3OTimz0.png
imageAlt:  cover-image
layout: post
---

<p>
    {{description}} <br>
    They are being described as the new reactive primitive and promise a future without the need of NgZones, such that change detection will be able to run more fine-grained. 
    This will lead to more performant applications and introduces a standard for handling reactivity in Angular. 
    But hold on a second... <b>What about my beloved RxJS?!</b>
</p>

<p>
    
</p>


{% set subHeading = 'Signal to Observable' %}
{% include 'post-elements/sub-heading.njk' %}

{% set subHeading = 'Observable to Signal' %}
{% include 'post-elements/sub-heading.njk' %}


{% set subHeading = 'Implications' %}
{% include 'post-elements/sub-heading.njk' %}


{% set repo = 'HaasStefan/angular-signals-demo' %}
{% include 'post-elements/repo.njk' %}