---
layout: "base.njk"
title: Stefan Haas - About
---

<div class="flex flex-grow flex-wrap">
  <section
    class="basis-full md:flex-1 md:min-h-full md:bg-gray-700 flex mt-6 md:mt-0"
  >
    <div class="md:hidden basis-1/4"></div>
    <div class="md:basis-full basis-2/4">
      <img
        src="/assets/portrait.png"
        alt="portrait-image"
        class="w-full[50%] md:w-full shadow-xl md:shadow-none rounded-full md:rounded-none"
        loading="lazy"
      />
    </div>
    <div class="md:hidden basis-1/4"></div>
  </section>
  <section class="basis-full md:flex-1">
    <h1 class="text-4xl font-bold text-center mt-2 md:mt-8">
      Hi <span>👋</span>, I am Stefan.
    </h1>
    <div class="flex justify-center text-2xl mt-2 mb-4">
      <div class="typing"></div>
    </div>

    <div class="w-full flex justify-center">
      <div>{% include 'contacts.njk' %}</div>
    </div>

    <div class="px-4 lg:px-12">
      <p class="py-2 text-lg">
        I am fascinated by web technologies and enjoy creating
        <b>sustainable frontends</b> with <b>Angular</b>. I get my hands dirty
        doing <b>freelancing</b> and I share my knowledge as an Angular trainer
        powered by <b>Angulararchitects</b>.
      </p>
      <div class="text-blue-500 font-semibold">
        #angular #typescript #javascript #ngrx #rxjs #nx #11ty #tailwind #csharp
        #dotnet #ddd #micro-frontends #web-components #azure
      </div>
      <div class="flex justify-center items-center lg:mt-8 md:mt-6 mt-4 mb-4">
        <div class="basis-1/4"></div>
        <div class="basis-2/4 flex">
          <button
            type="button"
            class="w-full text-white bg-gradient-to-br shadow-xl hover:shadow-2xl from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200  font-medium rounded-lg text-xl px-5 py-2.5 text-center mr-2 mb-2"
          >
            Hire me
          </button>
        </div>
        <div class="basis-1/4"></div>
      </div>
    </div>
  </section>
</div>

<script src="/js/typing.js" type="module"></script>
