---
layout: "base.njk"
title: NG Journal - Stefan Haas
image: "/assets/ng-journal.png"
---

<div class="sm:flex sm:justify-center">
  <div class="max-w-screen-lg lg:max-w-screen-xl p-4">
    <div
      class="flex gap-x-16 mt-5 ze:mb-10 md:mb-16 flex-col md:flex-row justify-center items-center"
    >
      <img
        src="/assets/portrait.png"
        alt="portrait-image"
        class="basis-1/2 xl:object-contain max-w-[10rem] md:max-w-[20rem] max-h-[10rem] md:max-h-[20rem] md:w-full shadow-xl rounded-full"
        loading="lazy"
      />
      <div class="basis-1/2 md:p-6 lg:p-8 xl:p-16">
        <h1 class="text-4xl font-bold text-center mt-2 md:mt-8">
          Hi <span>👋</span>, I am Stefan.
        </h1>
        <div class="flex justify-center text-2xl mt-2 mb-4">
          <div class="typing"></div>
        </div>

        <div class="w-full flex justify-center mb-4">
          <div class="basis-1/2">{% include 'contacts.njk' %}</div>
        </div>

        <div class="ze:px-4 md:px-8">
          <p class="py-2 text-lg">
            I am a trainer, consultant and freelancer from Austria focusing on
            Angular. With a strong passion for frontend architecture and design
            systems, I help teams to build scalable and maintainable
            applications. As a content creator and trainer, I share my knowledge
            and experience with the community.
          </p>
          <div class="flex justify-center items-center mt-8">
            <div class="basis-1/4"></div>
            <div class="ze:basis-2/3 basismd:basis-1/2 flex">
              <a
                href="/contact"
                class="w-full text-white bg-gradient-to-br shadow-xl hover:shadow-2xl bg-red-500 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-xl px-5 py-2.5 text-center mr-2 mb-2"
              >
                <span class="mr-1">Get in touch</span>
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </a>
            </div>
            <div class="basis-1/4"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-16">
      <h2 class="text-center font-bold text-3xl mb-8">Top Skills</h2>
      <div
        class="flex gap-8 justify-evenly flex-wrap mt-3 flex-row px-4 md:px-8 py-4 rounded-lg items-center bg-white"
      >
        <div>
          <a href="https://angular.io/">
            <img src="/assets/angular.png" alt="angular" class="w-20 mx-auto" />
          </a>
        </div>

        <div>
          <a href="https://rxjs.dev/">
            <img src="/assets/rxjs.png" alt="rxjs" class="h-16 mx-auto" />
          </a>
        </div>

        <div>
          <a href="https://ngrx.io/">
            <img src="/assets/ngrx.svg" alt="ngrx" class="h-16 mx-auto" />
          </a>
        </div>

        <div>
          <a href="https://nx.dev/">
            <img src="/assets/nx.png" alt="nx" class="h-12 mx-auto" />
          </a>
        </div>

        <div>
          <a href="https://www.typescriptlang.org/">
            <img
              src="/assets/typescript.png"
              alt="typescript"
              class="h-16 mx-auto"
            />
          </a>
        </div>

        <div>
          <a href="https://dotnet.microsoft.com/en-us/">
            <img src="/assets/dotnet.png" alt="dotnet" class="h-16 mx-auto" />
          </a>
        </div>

        <div>
          <a href="https://learn.microsoft.com/en-us/dotnet/csharp/">
            <img src="/assets/csharp.png" alt="csharp" class="h-16 mx-auto" />
          </a>
        </div>

        <div>
          <a
            href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor"
          >
            <img src="/assets/blazor.png" alt="blazor" class="h-16 mx-auto" />
          </a>
        </div>

        <div>
          <a href="https://azure.microsoft.com/en-us">
            <img src="/assets/azure.png" alt="azure" class="h-16 mx-auto" />
          </a>
        </div>
      </div>
    </div>

    <div class="mb-16">
      <h2 class="text-center font-bold text-3xl mb-8">Services</h2>
      <div class="flex flex-col gap-10 mt-3 md:flex-row ze:px-4 md:px-8">
        <div
          class="flex-1 rounded-lg shadow-2xl bg-gray-700 text-neutral-50 p-6"
        >
          <div class="w-full flex justify-center text-2xl mb-4">
            <i class="fa-solid fa-code text-red-500"></i>
          </div>
          <h3 class="text-center font-semibold text-xl mb-2">Freelancing</h3>
          <p class="text-center">
            Need some man-power for your enterprise Angular project? I am ready
            to tackle challenges, following best practices, and striving for
            constant improvement. Remote in the EU.
          </p>
        </div>

        <div
          class="flex-1 rounded-lg shadow-2xl bg-gray-700 text-neutral-50 p-6"
        >
          <a href="/workshops">
            <div class="w-full flex justify-center text-2xl mb-6">
              <i class="fa-solid fa-school text-red-500"></i>
            </div>
            <h3 class="text-center font-semibold text-xl mb-2">Workshops</h3>
            <p class="text-center">
              I am offering various workshops for Angular, Nx, .NET and more.
              <br />
              Remote or In-House. <br />
              German or English.
            </p>
          </a>
        </div>

        <div
          class="flex-1 rounded-lg shadow-2xl bg-gray-700 text-neutral-50 p-6"
        >
          <div class="w-full flex justify-center text-2xl mb-6">
            <i class="fa-solid fa-magnifying-glass text-red-500"></i>
          </div>
          <h3 class="text-center font-semibold text-xl mb-2">
            Architecture Audits
          </h3>
          <p class="text-center">
            Do you want to identify potential weaknesses in your code? Let me do
            a code review and lay out a roadmap for improvement.
          </p>
        </div>
      </div>
    </div>

    <div class="mb-16">
      <h2 class="text-center font-bold text-3xl mb-8">References</h2>
      <div
        class="flex gap-8 justify-evenly flex-wrap mt-3 flex-row ze:px-4 md:px-8 py-4 rounded-lg items-center bg-white"
      >
        <a href="https://memodo.de/">
          <img
            src="/assets/memodo.png"
            alt="portrait-image"
            class="max-h-[4rem]"
          />
        </a>
        <a href="https://www.itsv.at/">
          <img
            src="/assets/itsv.png"
            alt="portrait-image"
            class="max-h-[3rem]"
          />
        </a>
        <a href="https://www.inovex.de/en/">
          <img
            src="/assets/inovex-logo.png"
            alt="portrait-image"
            class="max-h-[6rem]"
          />
        </a>
        <a href="https://www.sablono.com/">
          <img
            src="https://f.hubspotusercontent40.net/hubfs/2106548/New-Sablono-full-logo.png"
            alt="portrait-image"
            class="max-h-[3rem]"
          />
        </a>
      </div>
    </div>

    <div class="mb-16">
      <h2 class="text-center font-bold text-3xl mb-8">
        Open Source Contributions
      </h2>

      <div
        class="flex ze:flex-col md:flex-row w-full flex-wrap items-center justify-center gap-6"
      >
        <div
          class="repo-card shadow-xl rounded-lg"
          data-repo="HaasStefan/ng-journal-insurance-portal"
        ></div>

        <div
          class="repo-card shadow-xl rounded-lg"
          data-repo="HaasStefan/dynamic-module-federation"
        ></div>

        <div
          class="repo-card shadow-xl rounded-lg"
          data-repo="HaasStefan/ngrx-leaky-backends"
        ></div>

        <div
          class="repo-card shadow-xl rounded-lg"
          data-repo="HaasStefan/tailwind-microfrontends"
        ></div>

        <div
          class="repo-card shadow-xl rounded-lg"
          data-repo="HaasStefan/facade-pattern"
        ></div>
      </div>
    </div>

    <div class="flex justify-center items-center mb-8">
      <div class="ze:basis-0 md:basis-1/4"></div>
      <div class="ze:basis-2/3 md:basis-1/2 flex">
        <a
          href="/contact"
          class="w-full text-white bg-gradient-to-br shadow-xl hover:shadow-2xl bg-red-500 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-xl px-5 py-2.5 text-center mr-2 mb-2"
        >
          <span class="mr-1">Get in touch</span>
          <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </a>
      </div>
      <div class="ze:basis-0 md:basis-1/4"></div>
    </div>
  </div>
</div>

<script src="/js/typing.js" type="module"></script>
