---
layout: "base.njk"
title: ng-journal - Hire Me
image: "/assets/ng-journal.png"
---

<div class="sm:flex sm:justify-center mt-3">
  <div class="max-w-screen-lg lg:max-w-screen-xl p-4">
    <section class="w-full">
      <h2 class="text-center font-bold text-3xl">Skills</h2>
      <ul class="flex flex-wrap justify-center gap-3 mt-3 mb-3">
        <li class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white">
          Angular
        </li>
        <li class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white">
          TypeScript
        </li>
        <li class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white">Nx</li>
        <li class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white">
          NgRx
        </li>
        <li class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white">
          RxJS
        </li>
        <li class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white">
          HTML
        </li>
        <li class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white">
          CSS
        </li>
        <li class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white">
          SCSS
        </li>
        <li class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white">
          Tailwind
        </li>
        <li class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white">
          11ty
        </li>
        <li class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white">
          JavaScript
        </li>
        <li class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white">
          Vue
        </li>
        <li class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white">
          Git
        </li>
        <li class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white">C#</li>
        <li class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white">
          .NET
        </li>
        <li class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white">
          Blazor
        </li>
        <li class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white">
          Python
        </li>
        <li class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white">
          PyTorch
        </li>
        <li class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white">
          Pandas
        </li>
        <li class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white">
          SQL
        </li>
        <li class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white">
          Azure
        </li>
        <li class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white">
          ...
        </li>
      </ul>
    </section>

    <section class="w-full mt-6">
      <h2 class="text-center font-bold text-3xl">Services</h2>
      <div class="flex flex-col gap-4 mt-3 md:flex-row">
        <div class="flex-1 rounded-lg shadow-2xl bg-gray-700 text-neutral-50 p-6">
          <div class="w-full flex justify-center text-2xl mb-2">
            <i class="fa-solid fa-code"></i>
          </div>
          <h3 class="text-center font-semibold text-xl mb-2">Freelancing</h3>
          <p class="text-center">
            Need some man-power for your enterprise Angular project? I am ready
            to tackle challenges, following best practices, and striving for
            constant improvement. Remote in the EU.
          </p>
        </div>
        <div class="flex-1 rounded-lg shadow-2xl bg-gray-700 text-neutral-50 p-6">
          <div class="w-full flex justify-center text-2xl mb-2">
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <h3 class="text-center font-semibold text-xl mb-2">
            <a
              href="/code-review"
              class="font-semibold hover:underline">
              Code Reviews
            </a>
            </h3>
          <p class="text-center">
            Do you want to identify potential weaknesses in your code? Let me do
            a code review and lay out a roadmap for improvement.
          </p>
        </div>
        <div class="flex-1 rounded-lg shadow-2xl bg-gray-700 text-neutral-50 p-6">
          <div class="w-full flex justify-center text-2xl mb-2">
            <i class="fa-solid fa-school"></i>
          </div>
          <h3 class="text-center font-semibold text-xl mb-2">Trainings</h3>
          <p class="text-center">
            I am a trainer focusing on Angular and give workshops for "Nx - Scaling Angular Applications".
          </p>
        </div>
      </div>
    </section>

    
    <section class="w-full mt-6">
      <h2 class="text-center font-bold text-3xl">References</h2>
      <div class="bg-white p-4 mt-3 flex flex-wrap gap-12 justify-center items-center">
        <a href="https://memodo.de/">
          <img
            src="/assets/memodo.png"
            alt="portrait-image"
            class="max-h-[4rem]"
          />
        </a>
        <a href="https://www.itsv.at/">
          <img
            src="/assets/itsv.png"
            alt="portrait-image"
            class="max-h-[3rem]"
          />
        </a>
        <a href="https://www.inovex.de/en/">
            <img
              src="/assets/inovex-logo.png"
              alt="portrait-image"
              class="max-h-[6rem]"
            />
        </a>
          <a href="https://www.sablono.com/">
            <img
              src="https://f.hubspotusercontent40.net/hubfs/2106548/New-Sablono-full-logo.png"
              alt="portrait-image"
              class="max-h-[3rem]"
            />
          </a>
      </div>
    </section>

    <section>
      <div class="flex justify-center items-center lg:mt-8 md:mt-6 mt-6 mb-4">
        <div class="basis-1/4"></div>
        <div class="basis-2/4 flex">
          <a
            href="/contact"
            class="w-full text-white bg-gradient-to-br shadow-xl hover:shadow-2xl from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 font-medium rounded-lg text-xl px-5 py-2.5 text-center mr-2 mb-2"
          >
            Get in touch
          </a>
        </div>
        <div class="basis-1/4"></div>
      </div>
    </section>
  </div>
</div>
