---
layout: "base.njk"
title: Imprint
image: '/assets/ng-journal.png'
---

<div class="sm:flex sm:justify-center mt-3">
  <div class="max-w-screen-lg lg:max-w-screen-xl p-4">
    <h1 class="font-medium text-xl">Impressum</h1>
    <br>
    Stefan Haas<br />
    <br />
    4020 Linz<br />
    Ing.-Etzel-Straße 27/8 | Austria<br />
    <br />
    Gewerbe: Dienstleistungen in der automatischen Datenverarbeitung und
    Informationstechnik<br />
    <br />
    Telefon: +4367761201018<br />
    E-Mail: stefan.haas.privat@gmail.com<br />
    <br />
    UID: ATU78469104<br />
    <br>
    Gewerbeordnung: www.ris.bka.gv.at<br>
    <br>
    Verbraucher haben die Möglichkeit, Beschwerden an die
    OnlineStreitbeilegungsplattform der EU zu richten: http://ec.europa.eu/odr.
    Sie können allfällige Beschwerde auch an die oben angegebene E-Mail-Adresse
    richten.
  </div>
</div>
