---
title: console.blog()
description: console.blog(), the JavaScript blog covering programming topics
keywords: stefan-haas blog programming angular javascript js
layout: 'base.njk'
---

some content

<div class="some">
    style
</div>