---
layout: "base.njk"
title: ng-journal - Workshop
image: "/assets/ng-journal.png"
description: "The 'Nx - Scaling Angular Applications' workshop is a 1-day workshop that teaches you how to scale your Angular application using Nx. You will learn how to leverage the power of module boundaries to enforce architectural constraints. You will also learn how to use Nx to speed up your development process and how to automate your workflow."
keywords: ["Nx Workshop", "Nx", "Workshop", "Angular", "Seminar", "Training"]
---

<div class="sm:flex sm:justify-center mt-3">
  <div class="max-w-screen-lg lg:max-w-screen-xl p-4">
    <h1 class="font-bold text-center text-4xl md:text-6xl mb-2 mt-10">Nx - Scaling Angular Applications</h1>
    <h2 class="text-2xl md:text-3xl text-center text-neutral-600 font-bold mb-10 md:mb-20">Workshop</h2>
    <section>
      <p class="mb-10">
        In this workshop you will learn how to scale your Angular application
        using {% set link = 'https://nx.dev' %} {% set linkText = 'Nx' %} {%
        include 'post-elements/hyper-link.njk' %}.
        <br />
        You will learn how to leverage the power of module boundaries to enforce
        architectural constraints.
        <br />
        You will also learn how to use Nx to speed up your development process
        and how to automate your workflow.
        <br />
      </p>
    </section>

    <section class="flex flex-col gap-4 mt-6 mb-12 md:flex-row">
      <div class="flex-1 rounded-lg shadow-2xl bg-gray-700 text-neutral-50 p-6">
        <div class="w-full flex justify-center text-2xl mb-2">
          <i class="fa-solid fa-globe text-blue-300"></i>
        </div>
        <h3 class="text-center font-semibold text-xl mb-2">Remote</h3>
        <p class="text-center">
          If you are not based in the DACH-region (or simply prefer remote), the
          workshop can be done remotely. Both, English and German, are possible.
        </p>
      </div>

      <div class="flex-1 rounded-lg shadow-2xl bg-gray-700 text-neutral-50 p-6">
        <div class="w-full flex justify-center text-2xl mb-2">
          <i class="fa-solid fa-school text-orange-300"></i>
        </div>
        <h3 class="text-center font-semibold text-xl mb-2">In-House</h3>
        <p class="text-center">
          The workshop can be done In-House, if you are located in the
          DACH-region. Both, English and German, are possible.
        </p>
      </div>
    </section>

    <section class="mb-12">
      <h2 class="font-bold text-3xl mb-10">Topics</h2>

      <div
        class="flex flex-row flex-wrap md:gap-x-12 gap-x-6 md:gap-y-6 gap-y-3 justify-center"
      >
        <div
          class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white text-center"
        >
          Monorepos
        </div>
        <div
          class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white text-center"
        >
          Introduction to Nx
        </div>
        <div
          class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white text-center"
        >
          Modularization
        </div>
        <div
          class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white text-center"
        >
          Project Boundaries
        </div>
        <div
          class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white text-center"
        >
          Enterprise Monorepo Angular Pattern
        </div>
        <div
          class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white text-center"
        >
          Improved Enterprise Monorepo Angular Pattern
        </div>
        <div
          class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white text-center"
        >
          Facade Pattern
        </div>
        <div
          class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white text-center"
        >
          Computation Cache
        </div>
        <div
          class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white text-center"
        >
          Incremental Builds
        </div>
        <div
          class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white text-center"
        >
          Single File Libraries
        </div>
        <div
          class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white text-center"
        >
          Nx Plugins
        </div>
        <div
          class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white text-center"
        >
          Nx Generators
        </div>
        <div
          class="rounded-lg shadow-lg p-2 px-4 font-semibold bg-white text-center"
        >
          EJS
        </div>
      </div>
    </section>

    <section class="mb-12">
      <h2 class="font-bold text-3xl mb-4">Details</h2>

      <div
        class="flex gap-4 lg:flex-row flex-col-reverse items-center justify-center"
      >
        <p class="flex-grow py-4">
          Participants should already be familiar with Angular and TypeScript.
          The workshop is suitable for both mid and advanced developers.
          Although, Angular is used as an example, a deep knowledge of Angular
          is not necessarily required, but it is an advantage.

          <br />
          <br />

          We will be working on one big enterprise application, which is
          following architectural best practices and the newest Angular
          features, such as signals or route-based inputs. You will be provided
          with the slides, labs and the source code of the application.

          <br />
          <br />

          The workshop will take 1 day and will be held in German or English.
        </p>

        <img
          src="/assets/workshop-slides.png"
          alt="portrait-image"
          class="xl:object-contain max-w-[48rem] w-full"
          loading="lazy"
        />
      </div>
    </section>

    <section class="mb-12">
      <h2 class="font-bold text-3xl mb-4">Your Trainer</h2>

      <div
        class="flex gap-x-16 mt-10 flex-col md:flex-row justify-center items-center"
      >
        <img
          src="/assets/portrait.png"
          alt="portrait-image"
          class="xl:object-contain max-w-[10rem] md:max-w-[20rem] max-h-[10rem] md:max-h-[20rem] md:w-full shadow-xl rounded-full"
          loading="lazy"
        />

        <div class="flex-grow flex justify-center">
          <div>
            <h1 class="text-4xl font-bold text-center mt-2 md:mt-8">
              Stefan Haas
            </h1>
            <div class="flex justify-center text-2xl mt-2 mb-4">
              <div class="typing"></div>
            </div>
            <p class="p-2">
              I am an expert in Angular and Nx. As a recognized Nx Champion, I
              am part of the champions program of Nx. I have helped various
              companies to scale their enterprise Angular applications using Nx.
              <br />
              <br />
              As a freelancer, consulatant and trainer, I have insight into many
              different companies and their challenges. I am happy to share my
              knowledge with you.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="mt-6 mb-12">
      <h2 class="font-bold text-3xl mb-10">Transparent Prices</h2>

      <div class="flex gap-3 flex-wrap justify-center">
        <div
          class="md:flex-1 flex-grow h-56 rounded-lg shadow-2xl bg-gray-700 text-neutral-50 p-6 flex flex-col"
        >
          <div class="w-full flex justify-center text-2xl mb-2">
            <i class="fa-solid fa-globe text-blue-300"></i>
          </div>
          <h3 class="text-center font-semibold text-xl mb-2">Remote</h3>

          <div class="flex-grow flex flex-col justify-end">
            <div class="flex flex-col gap-3">
              <div class="flex flex-row justify-between">
                <div class="font-semibold">Up to 10 participants</div>
                <div class="font-semibold text-sm">
                  <b class="font-semibold text-xl">€ 3.500</b>
                  (excl. VAT)
                </div>
              </div>
              <div class="flex flex-row justify-between">
                <div class="font-semibold">Up to 15 participants</div>
                <div class="font-semibold text-sm">
                  <b class="font-semibold text-xl">€ 4.500</b>
                  (excl. VAT)
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="md:flex-1 flex-grow h-56 rounded-lg shadow-2xl bg-gray-700 text-neutral-50 p-6 flex flex-col"
        >
          <div class="w-full flex justify-center text-2xl mb-2">
            <i class="fa-solid fa-school text-orange-300"></i>
          </div>
          <h3 class="text-center font-semibold text-xl mb-2">In-House</h3>
          <div class="flex-grow flex flex-col justify-end">
            <div class="flex flex-col gap-3">
              <div class="flex flex-row justify-between">
                <div class="font-semibold">Up to 10 participants</div>
                <div class="font-semibold text-sm">
                  <b class="font-semibold text-xl">€ 4.500</b>
                  (excl. VAT)
                </div>
              </div>
              <div class="flex flex-row justify-between">
                <div class="font-semibold">Up to 15 participants</div>
                <div class="font-semibold text-sm">
                  <b class="font-semibold text-xl">€ 5.500</b>
                  (excl. VAT)
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <h2 class="font-bold text-3xl mb-10">Recommendations</h2>

      <div class="flex gap-12 flex-wrap justify-evenly mb-10">
        <div
          class="md:flex-1 max-w-full md:max-w-[18rem] flex flex-col items-center gap-1"
        >
          <img
            src="/assets/hai.jpeg"
            alt="portrait-image"
            class="xl:object-contain max-w-[8rem] md:max-w-[10rem] max-h-[8rem] md:max-h-[10rem] md:w-full shadow-xl rounded-full"
            loading="lazy"
          />

          <h3 class="text-xl font-semibold text-center mt-2">
            Hai Tran Nguyen
          </h3>
          <div class="flex justify-center gap-1 items-center">
            <i class="fa-solid fa-star text-orange-500"></i>
            <i class="fa-solid fa-star text-orange-500"></i>
            <i class="fa-solid fa-star text-orange-500"></i>
            <i class="fa-solid fa-star text-orange-500"></i>
            <i class="fa-solid fa-star text-orange-500"></i>
            (5/5)
          </div>
          <p class="text-center px-8 md:px-0">
            "Stefan is a very good trainer. He has a lot of knowledge and
            experience in the field of Angular and Nx. He is also very
            enthusiastic and can explain things very well. I would definitely
            recommend him as a trainer."
          </p>
        </div>

        <div
          class="md:flex-1 max-w-full md:max-w-[18rem] flex flex-col items-center gap-1"
        >
          <img
            src="/assets/juri.jpeg"
            alt="portrait-image"
            class="xl:object-contain max-w-[8rem] md:max-w-[10rem] max-h-[8rem] md:max-h-[10rem] md:w-full shadow-xl rounded-full"
            loading="lazy"
          />

          <h3 class="text-xl font-semibold text-center mt-2">
            Juri Strumpflohner
            <span class="text-sm text-center text-neutral-600">(Nx Team)</span>
          </h3>

          <div class="flex justify-center gap-1 items-center">
            <i class="fa-solid fa-star text-orange-500"></i>
            <i class="fa-solid fa-star text-orange-500"></i>
            <i class="fa-solid fa-star text-orange-500"></i>
            <i class="fa-solid fa-star text-orange-500"></i>
            <i class="fa-solid fa-star text-orange-500"></i>
            (5/5)
          </div>
          <p class="text-center px-8 md:px-0">
            "Stefan possesses an extensive understanding of the Angular ecosystem, particularly when it comes to its integration with Nx. He has a deep understanding when it comes to leveraging Nx’s capabilities and features to build modular and maintainable architectures. That’s among one of the reasons why he has been invited to join the Nx Champions program."
          </p>
        </div>
        

        <div
          class="md:flex-1 max-w-full md:max-w-[18rem] flex flex-col items-center gap-1"
        >
          <img
            src="/assets/daniel.jpeg"
            alt="portrait-image"
            class="xl:object-contain max-w-[8rem] md:max-w-[10rem] max-h-[8rem] md:max-h-[10rem] md:w-full shadow-xl rounded-full"
            loading="lazy"
          />

          <h3 class="text-xl font-semibold text-center mt-2">
            Daniel Glejzner
            <span class="text-sm text-center text-neutral-600"
              >(Nx Champion)</span
            >
          </h3>

          <div class="flex justify-center gap-1 items-center">
            <i class="fa-solid fa-star text-orange-500"></i>
            <i class="fa-solid fa-star text-orange-500"></i>
            <i class="fa-solid fa-star text-orange-500"></i>
            <i class="fa-solid fa-star text-orange-500"></i>
            <i class="fa-solid fa-star text-orange-500"></i>
            (5/5)
          </div>
          <p class="text-center px-8 md:px-0">
            "I met Stefan through the Nx champions program and was impressed
            right away. His skills are top-notch and he is a great person to
            work with. His workshop on Nx is a must-have for any team that wants
            to get the most out of Nx."
          </p>
        </div>
      </div>
    </section>

    <section>
        <h2 class="font-bold text-3xl mb-10">FAQ</h2>


<div id="accordion-collapse" data-accordion="collapse" class="mb-10">
    <h2 id="accordion-open-heading-1">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-open-body-1" aria-expanded="false" aria-controls="accordion-open-body-1">
        <span class="flex items-center"><svg class="w-5 h-5 mr-2 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg> Why Nx?</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-open-body-1" class="hidden" aria-labelledby="accordion-open-heading-1">
      <div class="p-5 border border-b-0 text-gray-700 border-gray-200 dark:border-gray-700">
       Nx is the de facto standard for building Angular applications at scale. It provides a set of tools that help you to build, test, and deploy your applications. 
       It allows for a modular architecture and makes it possible to enforce architectural constraints. Build times are faster and the developer experience is better.
       Workflows can be automated and the code quality can be improved. 
      </div>
    </div>
    <h2 id="accordion-open-heading-2">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-open-body-2" aria-expanded="false" aria-controls="accordion-open-body-2">
        <span class="flex items-center"><svg class="w-5 h-5 mr-2 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>What should the participants already know?</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-open-body-2" class="hidden" aria-labelledby="accordion-open-heading-2">
      <div class="p-5 border border-b-0 text-gray-700 border-gray-200 dark:border-gray-700">
        The participants should already be working with Angular professionally. They should be able to build simple applications with Angular. 
        <br>
        No prior knowledge of Nx is required. We will start with the basics and build up from there.
      </div>
    </div>
    <h2 id="accordion-open-heading-3">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-open-body-3" aria-expanded="false" aria-controls="accordion-open-body-3">
        <span class="flex items-center"><svg class="w-5 h-5 mr-2 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg> How does this workshop work?</span>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-open-body-3" class="hidden" aria-labelledby="accordion-open-heading-3">
      <div class="p-5 border border-t-0 text-gray-700 border-gray-200 dark:border-gray-700">
        This workshop is a mix of theory and practice. We will start with the basics and use a real-world application to apply the concepts we learn. 
        The practial part is a mix of live-coding and hands-on exercises.
      </div>
    </div>

    <h2 id="accordion-open-heading-4">
        <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-open-body-4" aria-expanded="false" aria-controls="accordion-open-body-4">
          <span class="flex items-center"><svg class="w-5 h-5 mr-2 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>Whom is this workshop for?</span>
          <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
          </svg>
        </button>
      </h2>
      <div id="accordion-open-body-4" class="hidden" aria-labelledby="accordion-open-heading-4">
        <div class="p-5 border border-t-0 text-gray-500 border-gray-200 dark:border-gray-700">
            For anyone who wants to learn more about Nx and how to use it in their projects. 
            Nx is essential for building enterprise applications with Angular and anyone that is planning on building such enterprise application should attend this workshop.
        </div>
      </div>

      <h2 id="accordion-open-heading-5">
        <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-open-body-5" aria-expanded="false" aria-controls="accordion-open-body-5">
          <span class="flex items-center"><svg class="w-5 h-5 mr-2 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg> How many participants are recommended?</span>
          <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
          </svg>
        </button>
      </h2>
      <div id="accordion-open-body-5" class="hidden" aria-labelledby="accordion-open-heading-5">
        <div class="p-5 border border-t-0 text-gray-700 border-gray-200 dark:border-gray-700">
            The workshop is designed for up-to 15 participants. 
            If you have more participants, please contact us and we will find a solution.
            It is possible to add more participants, but we want to make sure that the workshop is still interactive and that everyone can ask questions.
        </div>
      </div>

      <h2 id="accordion-open-heading-6">
        <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-open-body-6" aria-expanded="false" aria-controls="accordion-open-body-6">
          <span class="flex items-center"><svg class="w-5 h-5 mr-2 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg> At what times do the training courses take place?</span>
          <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
          </svg>
        </button>
      </h2>
      <div id="accordion-open-body-6" class="hidden" aria-labelledby="accordion-open-heading-6">
        <div class="p-5 border border-t-0 text-gray-700 border-gray-200 dark:border-gray-700">
          Usually, the workshop starts at 9AM and ends at 4:30PM. But we are flexible and can adjust the times to your needs.
        </div>
      </div>

      <h2 id="accordion-open-heading-7">
        <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-open-body-7" aria-expanded="false" aria-controls="accordion-open-body-7">
          <span class="flex items-center"><svg class="w-5 h-5 mr-2 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg> Which software is needed?</span>
          <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
          </svg>
        </button>
      </h2>
      <div id="accordion-open-body-7" class="hidden" aria-labelledby="accordion-open-heading-7">
        <div class="p-5 border border-t-0 text-gray-700 border-gray-200 dark:border-gray-700">
          You will need Node (LTS), Angular CLI (version 16), Nx (version 16), and a code editor of your choice (e.g. VS Code). 
        </div>
      </div>

      <h2 id="accordion-open-heading-8">
        <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion-open-body-8" aria-expanded="false" aria-controls="accordion-open-body-8">
          <span class="flex items-center"><svg class="w-5 h-5 mr-2 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg> Where does the workshop take place?</span>
          <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
          </svg>
        </button>
      </h2>
      <div id="accordion-open-body-8" class="hidden" aria-labelledby="accordion-open-heading-8">
        <div class="p-5 border border-t-0 text-gray-700 border-gray-200 dark:border-gray-700">
          Either, remote - anywhere in the world, or in-house - at your company's location.
        </div>
      </div>
  </div>
    </section>

    <section>
      <div class="flex justify-center items-center lg:mt-8 md:mt-6 mt-6 mb-4">
        <div class="basis-1/4"></div>
        <div class="basis-2/4 flex">
          <a
            href="/contact"
            class="w-full text-white bg-gradient-to-br shadow-xl hover:shadow-2xl from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 font-medium rounded-lg text-xl px-5 py-2.5 text-center mr-2 mb-2"
          >
            Get in touch
          </a>
        </div>
        <div class="basis-1/4"></div>
      </div>
    </section>
  </div>
</div>

<script src="/js/typing.js" type="module"></script>
