---
title: Workshop - Angular Fundamentals
tags: popular
description: ""
keywords: []
image: /assets/angular.png
imageAlt: angular logo
layout: base
workshopLink: /workshops/angular-fundamentals
workshopTitle: Angular Fundamentals
workshopDescription: Learn the basics of Angular and build your first application.
workshopDuration: 2 days
color: red-500

---

