---
title: Workshop - Angular Advanced
tags: 
description: ""
keywords: []
image: /assets/angular.png
imageAlt: angular logo
layout: workshop
workshopLink: /workshops/angular-advanced
workshopTitle: Angular Advanced
workshopDescription: Learn the advanced concepts of Angular and build scalable applications.
workshopDuration: 2 days
color: red-500
curriculum: [
[
    {
        title: 'Monorepositories',
        description: 'Nx, Enterprise Monorepo Pattern, Cache, Generators ...'
    },
    {
        title: 'Angular Architecture',
        description: 'Facade Pattern, Hexagonal Architecture, ...'
    },
    {
        title: 'Angular Elements',
        description: 'Creating Custom Elements using Angular Elements'
    },
    {
        title: 'Perfomance Optimizations',
        description: 'Change Detection, OnPush, Zoneless, NgOptimizedImage ...'
    }
],
[
    {
        title: 'Advanced RxJS',
        description: 'Combinational Operators, Hot vs Cold Observables, Higher Order Observables, ...'
    },
    {
        title: 'Fully Declarative Angular',
        description: 'Refactoring imperative code to declarative code'
    },
    {
        title: 'State Management using NgRx',
        description: 'Redux, Store, Actions, Reducers, Effects, Selectors, ...'
    },
    {
        title: 'Lightweight State Management',
        description: 'NgRx component store'
    }
]
]
faqs: [
{
    question: 'What are the prerequisites for this workshop?',
    answer: 'You should already have some professional experience with Angular. You should be able to build applications using components, services, directives, RxJS, and routing. But you do not need to be an expert.'
},
{
    question: 'At which times does the workshop take place?',
    answer: 'The workshop starts at 9:00 and ends at 16:30. There is a lunch break from 12:00 to 13:00 and two coffee breaks from 10:30 to 11:00 and 15:30 to 16:00.'
},
{
    question: 'What do I need to bring?',
    answer: 'You need to bring your own laptop with the LTS version of Node.js installed and a global installation of the Angular CLI and Nx. You also need a code editor of your choice (e.g. VS Code).'
},
{
    question: 'What is the maximum number of participants?',
    answer: 'The maximum number of participants is 15. This ensures that I can take care of every participant.'
},
{
    question: 'Where does the workshop take place?',
    answer: 'Either remote anywhere in the world or at your company. You would need to provide a room with a projector and a whiteboard.'
}
]
---
