---
title: Workshop - Angular Fundamentals
tags: popular
description: "In this workshop, you will learn the basics of Angular and build your first application. The contents of this workshop includes TypeScript Fundamentals, Setup and Tooling, Components, Data Binding, Directives, Pipes, Services, Routing, Ng Modules, Forms, RxJS. It is a mix of theory and practice. We are doing hands-on exercises to make sure you can apply what you learned right away.
"
keywords: []
image: /assets/angular.png
imageAlt: angular logo
layout: workshop
workshopLink: /workshops/angular-fundamentals
workshopTitle: Angular Fundamentals
workshopDescription: Learn the basics of Angular and build your first application.
workshopDuration: 2 days
color: red-500
curriculum: [
[
    {
        title: "TypeScript Fundamentals",
        description: "Transpiling, Types, Interfaces, Functions, Primitives, Classes, ..."
    },
    {
        title: "Setup and Tooling",
        description: "Installation, Angular CLI, Project Structure, ..."
    },
    {
        title: "Components",
        description: "Templates, Styles, Life Cycles, ..."
    },
    {
        title: "Data Binding",
        description: "Interpolation, Property Binding, Event Binding, Two-way Binding, ..."
    },
    {
        title: "Directives",
        description: "Structural Directives, Attribute Directives, ..."
    },

    {
        title: "Pipes",
        description: "Built-in Pipes, Custom Pipes, ..."
    },

],
[
    {
        title: "Services",
        description: "Dependency Injection, Providers, ..."
    },
    {
        title: "Routing",
        description: "Router, Routes, Navigation, ..."
    },
    {
        title: "Ng Modules",
        description: "Feature Modules, Shared Modules, Lazy Loading, ..."
    },
    {
        title: "Forms",
        description: "Template-driven Forms, Reactive Forms, ..."
    },
    {
        title: "RxJS",
        description: "Observables, Operators, Subjects, ..."
    }
]
]
faqs: [
    {
        question: 'Why should I learn Angular?',
        answer: 'Angular is a very popular framework for building web applications. It is used by many companies and has a huge ecosystem. It is a great choice for building large enterprise applications. It follows the philosophy of being opinionated and providing a lot of features out of the box. This makes it easy to get started and build applications fast. Angular, being maintained by Google, is also a very stable framework, hence a safe bet for any new enterprise project.'
    },
    {
        question: 'What are the prerequisites for this workshop?',
        answer: 'You should have basic knowledge of HTML, CSS and JavaScript. No experience with Angular (and TypeScript) is required.'
    },
    {
        question: 'At which times does the workshop take place?',
        answer: 'The workshop starts at 9:00 and ends at 16:30. There is a lunch break from 12:00 to 13:00 and two coffee breaks from 10:30 to 11:00 and 15:30 to 16:00.'
    },
    {
        question: 'What do I need to bring?',
        answer: 'You need to bring your own laptop with the LTS version of Node.js installed and a global installation of the Angular CLI. You also need a code editor of your choice (e.g. VS Code).'
    },
    {
        question: 'What is the maximum number of participants?',
        answer: 'The maximum number of participants is 15. This ensures that I can take care of every participant.'
    },
    {
        question: 'Where does the workshop take place?',
        answer: 'Either remote anywhere in the world or at your company. You would need to provide a room with a projector and a whiteboard.'
    }

]
---
