---
title: Workshop - Angular Advanced
tags: 
description: ""
keywords: []
image: /assets/angular.png
imageAlt: angular logo
layout: workshop
workshopLink: /workshops/angular-advanced
workshopTitle: Angular Advanced
workshopDescription: Learn the advanced concepts of Angular and build scalable applications.
workshopDuration: 2 days
color: red-500
---
