---
title: Workshop - Angular Fundamentals
tags: popular
description: "
In the beginning, we will cover the basics of TypeScript and Angular.
But we will quickly move on and create a first application with the CLI.
We will cover the basics of Angular like components, directives, services, and pipes.
We will also cover the basics of routing, navigation and reactive forms.
Additionaly, we will cover the basics of RxJS and observables.
"
keywords: []
image: /assets/angular.png
imageAlt: angular logo
layout: workshop
workshopLink: /workshops/angular-fundamentals
workshopTitle: Angular Fundamentals
workshopDescription: Learn the basics of Angular and build your first application.
workshopDuration: 2 days
color: red-500
curriculum: [

[
    {
        title: "TypeScript Fundamentals",
        description: "Transpiling, Types, Interfaces, Functions, Primitives, Classes, ..."
    }
],

[
    {
        title: "Angular Fundamentals",
        description: "Components, Directives, Services, Pipes, Modules, ..."
    }
]

]
---
