---
title: Workshop - Blazor Fundamentals
tags: 
description: ""
keywords: []
image: /assets/blazor.png
imageAlt: blazor logo
layout: base
workshopLink: /workshops/blazor-fundamentals
workshopTitle: Blazor Fundamentals
workshopDescription: Learn the basics of Blazor and build your Blazor apps.
workshopDuration: 1 day
color: purple-400
---
