---
title: Workshop - .NET Fundamentals
tags: popular
description: ""
keywords: []
image: /assets/dotnet.png
imageAlt: dotnet logo
layout: workshop
workshopLink: /workshops/dotnet-fundamentals
workshopTitle: .NET Fundamentals
workshopDescription: Learn the basics of .NET and build your first application.
workshopDuration: 2 days
color: purple-400
---

