---
title: "Workshop - Nx: Scaling Angular Applications"
tags: popular
description: "In this workshop, you will learn Nx and how to build scalable Angular applications. The contents of this workshop includes Monorepositories, Sharing Code, Modularization, Enterprise Monorepo Pattern, Facade Pattern, Performance, Nx Plugins, CI/CD Pipelines. It is a mix of theory and practice. We are doing hands-on exercises to make sure you can apply what you learned right away."
keywords: [ Nx, Workshop, Angular, Monorepo, Monorepositories, Nx Plugins, CI/CD Pipelines, Facade Pattern, Enterprise Monorepo Pattern, Modularization, Performance, Sharing Code, Training, Angular Workshops, Angular Training, Stefan Haas, Remote, In-House]
image: /assets/nx-white-logo.png
imageAlt: nx logo
secondaryImage: /assets/nx.png
secondaryImageAlt: Nx logo
layout: workshop
workshopLink: /workshops/nx-scaling-angular-applications
workshopTitle: "Nx: Scaling Angular Applications"
workshopDescription: Learn Nx and how to build scalable Angular applications.
workshopDuration: 1 day
color: blue-500
curriculum: [
 [
    {
        title: 'Monorepositories',
        description: 'Comparing Monorepositories and Polyrepositories'
    },
    {
        title: 'Nx',
        description: 'What is Nx? Why Nx? Nx CLI, Nx Console, and basic features'
    },
    {
        title: 'Sharing Code',
        description: 'Shared Libraries, Single Version Policy, ...'
    },
    {
        title: 'Modularization',
        description: 'Module Boundaries, nx/enforce-module-boundaries and tags'
    },
    {
        title: 'Enterprise Monorepo Pattern',
        description: 'Routes, Feature, UI, Data Access, Util, Models, API libraries'
    },
    {
        title: 'Facade Pattern',
        description: 'Hiding state management and backend details behind a Facade'
    },
    {
        title: 'Performance',
        description: 'nx affected commands, Caching, Incremental Builds, and Distributed Caching, Single-File Libraries'
    },
    {
        title: 'Nx Plugins',
        description: 'Nx Plugin types, Generators, EJS'
    },
    {
        title: 'CI/CD Pipelines',
        description: 'CI/CD Pipelines using Nx commands and GitHub Actions'
    }
 ]
]
faqs: [
   {
        question: 'Why should I learn about Nx?',
        answer: 'It provides a set of tools that help you to build, test, and deploy your applications. It allows for a modular architecture and makes it possible to enforce architectural constraints. Build times are faster and the developer experience is better. Workflows can be automated and the code quality can be improved.'
   } ,
   {
    question: 'What are the prerequisites for this workshop?',
    answer: 'You should already have some experience with Angular and the Angular CLI. You should be able to build applications using components, services, directives, RxJS, and routing. But you do not need to be an expert.'
},
{
    question: 'At which times does the workshop take place?',
    answer: 'The workshop starts at 9:00 and ends at 16:30. There is a lunch break from 12:00 to 13:00 and two coffee breaks from 10:30 to 11:00 and 15:30 to 16:00.'
},
{
    question: 'What do I need to bring?',
    answer: 'You need to bring your own laptop with the LTS version of Node.js installed and a global installation of the Angular CLI and Nx. You also need a code editor of your choice (e.g. VS Code).'
},
{
    question: 'What is the maximum number of participants?',
    answer: 'The maximum number of participants is 15. This ensures that I can take care of every participant.'
},
{
    question: 'Where does the workshop take place?',
    answer: 'Either remote anywhere in the world or at your company. You would need to provide a room with a projector and a whiteboard.'
}
]
---

<section class="ze:mb-8 md:mb-12">
    <h3 class="font-bold text-4xl ze:mb-4 md:mb-4 text-center">Impressions from my Webinar</h3>

    <div class="ze:hidden md:hidden lg:flex justify-center md:p-8">
      <iframe
        width="1120"
        height="630"
        src="https://www.youtube.com/embed/FtmtNP6qNis?start=219"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>

    <div class="ze:hidden md:flex lg:hidden justify-center md:p-8">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/FtmtNP6qNis?start=219"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>

      <div class="ze:flex md:hidden justify-center md:p-8">
        <iframe
          width="400"
          height="200"
          src="https://www.youtube.com/embed/FtmtNP6qNis?start=219"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
  </section>

<section class="ze:mb-8 md:mb-12">

    <div
      class="flex gap-4 lg:flex-row flex-col-reverse items-center justify-center"
    >
      <p class="flex-grow py-4">
        You will learn about Nx and how to architect enterprise Angular applications using Module Boundaries. We will also focus on build/test/lint performance and how to improve it. You will learn how to create custom Nx Plugins for workflow automation and how to set up CI/CD Pipelines.

        <br />
        <br />

        We will be working on one big example application where I will do live codings and you will do hands-on exercises. <br>
        You will be provided with the slides, source code and exercises.
        <br />
        <br />

        Participants should already be familiar with Angular and the Angular CLI but do not need to be experts, since the focus is on Nx. <br>
      </p>

      <img
        src="/assets/workshop-slides.png"
        alt="portrait-image"
        class="xl:object-contain max-w-[48rem] w-full"
        loading="lazy"
      />
    </div>
  </section>

