---
title: "Workshop - Nx: Scaling Angular Applications"
tags: popular
description: ""
keywords: []
image: /assets/nx-white-logo.png
imageAlt: nx logo
secondaryImage: /assets/nx.png
secondaryImageAlt: nx logo
layout: workshop
workshopLink: /workshops/nx-scaling-angular-applications
workshopTitle: "Nx: Scaling Angular Applications"
workshopDescription: Learn Nx and how to build scalable Angular applications.
workshopDuration: 1 day
color: blue-500
---
