---
title: "Workshop - RxJS: Zero to Hero"
tags: 
description: "In this workshop, you will learn RxJS and become a hero. The contents of this workshop includes Observables, Subjects, Operators, Higher Order Observables, Hot and Cold Observables, Avoiding Memory Leaks, Error Handling, Signals Interoperability, Fully Declarative Angular, RxJS-based State Management. It is a mix of theory and practice. We are doing hands-on exercises to make sure you can apply what you learned right away."
keywords: []
image: /assets/rxjs.png
imageAlt: rxjs logo
layout: workshop
workshopLink: /workshops/rxjs-zero-to-hero
workshopTitle: "RxJS: Zero to Hero"
workshopDescription: Learn RxJS and become a hero.
workshopDuration: 1 day
color: pink-400
curriculum: [
[
    {
        title: 'RxJS Basics',
        description: 'Observables, Subjects, ...'
    },
    {
        title: 'Operators',
        description: 'Creation, Transformation, Filtering, Combination, Error Handling, ...'
    },
    {
        title: 'Custom Operators',
        description: 'Creating your own Operators'
    },
    {
        title: 'Higher Order Observables',
        description: 'mergeMap, switchMap, exhaustMap, concatMap, ...'
    },
    {
        title: 'Hot and Cold Observables',
        description: 'Subjects, share, shareReplay, ...'
    },
    {
        title: 'Avoiding Memory Leaks',
        description: 'Closing Subscriptions, takeUntil, ...'
    },
    {
        title: 'Error Handling',
        description: 'catchError, retry, retryWhen, ...'
    },
    {
        title: 'Signals Interoperability',
        description: 'Combining RxJS with Angular Signals'
    },
    {
        title: 'Fully Declarative Angular',
        description: 'Refactoring imperative code to declarative code'
    },
    {
        title: 'RxJS-based State Management',
        description: 'BehaviorSubject, Store, ...'
    }
]
]
faqs: [
{
    question: 'Why should I learn about RxJS?',
    answer: 'RxJS is a powerful library that helps you to write asynchronous code in a declarative way. It is used in Angular and many other frameworks. It is a great tool to have in your toolbox.'
},
{
    question: 'What are the prerequisites for this workshop?',
    answer: "You need basic knowledge of JavaScript and Angular. You don't have to know about RxJS yet."
},
{
    question: 'At which times does the workshop take place?',
    answer: 'The workshop starts at 9:00 and ends at 16:30. There is a lunch break from 12:00 to 13:00 and two coffee breaks from 10:30 to 11:00 and 15:30 to 16:00.'
},
{
    question: 'What do I need to bring?',
    answer: 'You need to bring your own laptop with the LTS version of Node.js installed and a global installation of the Angular CLI and Nx. You also need a code editor of your choice (e.g. VS Code).'
},
{
    question: 'What is the maximum number of participants?',
    answer: 'The maximum number of participants is 15. This ensures that I can take care of every participant.'
},
{
    question: 'Where does the workshop take place?',
    answer: 'Either remote anywhere in the world or at your company. You would need to provide a room with a projector and a whiteboard.'
}
]
---
