---
title: "Workshop - RxJS: Zero to Hero"
tags: 
description: ""
keywords: []
image: /assets/rxjs.png
imageAlt: rxjs logo
layout: workshop
workshopLink: /workshops/rxjs-zero-to-hero
workshopTitle: "RxJS: Zero to Hero"
workshopDescription: Learn RxJS and become a hero.
workshopDuration: 1 day
color: pink-400
---
